body
{
    background-color: aqua;
}

.button
    {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;

    font-size: 12px;}
.dropdown
{

    border: none;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;}
.validation-error
{
    color:red;
}